@media (min-width: 1px){
    #cont{
		width: 80%;
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(4, 1fr);
    }
    #item1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #item2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #item3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    #item4{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #item5{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    #item6{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 7;
    }
    #item7{
        /* grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7; */
        display: none;
    }
    #item8{
        /* grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7; */
        display: none;
    }
    #section2{
        min-height: 1500px;
    }
    .margin-right-for-search{
        margin-right: 10px;
    }
    #logo-text{
        margin-left: 10px;
    }
    .text-3{
        font-size: 14px !important;
    }
    .text-2{
        font-size: 14px !important;
    }
    .img-1{
        width: 120px;
        height: 120px;
    }
    #section3{
        height: 925px;
    }
    #item7 .button:last-of-type{
        display: none;
    }
    .p-about-kpi{
        width: calc(60%);
    }
    #logo-text{
        margin-left: 10px;
        font-size: 28px;
    }
    .top-down #logo-text{
        font-size: 28px;
    }
    /* #leftMenuSide{
        width: 100%;
        left: -100%;
    }
    #rightMenuSide{
        width: 100%;
        right: 100%;
    } */
    #menuButtonInner{
        font-size: 16px;
    }
    .searchButton{
        font-size: 16px;
    }
    .searchInput{
        font-size: 16px;
        width: 150px;
    }
    #rightMenuSide .searchInput{
        font-size: 16px;
    }
    .searchExpanded1 .searchButton{
        margin-right: 170px;
    }
    .searchExpanded1 input{
        left: calc(100% - 175px);
    }
    .searchExpanded2 .searchButton{
        margin-right: 150px;
    }
    .searchExpanded2 input{
        left: calc(100% - 160px);
    }
    #leftMenuSide{
        top: calc(50%);
        left: calc(-100%);
        width: 100%;
        height: 50%;
    }
    #rightMenuSide{
        right: calc(-100%);
        width: 100%;
        height: 50%;
    }
    #menuButtonInner{
        font-size: 16px;
    }
    .text-4{
        font-size: 36px !important;
    }
    #item6 .text-4,
    #header-section2{
        font-size: 22px !important;
    }
    .achievements .img-1{
        width: 100px;
        height: 100px;
    }
    header .searchButton{
        display: none;
    }
    .achievements div:nth-child(2){
        display: none;
    }
    #footer-links-bottom a{
        font-size: 16px;
    }
    #footer-links-bottom{
        display: none;
    }
    #footer-links-top{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 370px) {
    .top-down #logo-text {
        font-size: 26px;
    }
    #logo-text {
        margin-left: 10px;
        font-size: 26px;
    }
    .searchExpanded1 .searchButton{
        margin-right: 170px;
    }
    .searchExpanded1 input{
        left: calc(100% - 175px);
    }
    .searchExpanded2 .searchButton{
        margin-right: 180px;
    }
    .searchExpanded2 input{
        left: calc(100% - 190px);
    }
    header .searchButton{
        display: inline-block;
    }
    .achievements div:nth-child(2){
        display: flex;
    }
    #item6 .text-4,
    #header-section2{
        font-size: 25px !important;
    }
    .text-3{
        font-size: 16px !important;
    }
    .text-4{
        font-size: 40px !important;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{ 
    .achievements .img-1{
        width: 128px;
        height: 128px;
    }
    section{
        background: red;
    }
    .margin-right-for-search{
        margin-right: 20px;
    }
    #logo-text{
        margin-left: 20px;
        font-size: 34px;
    }
    .top-down #logo-text{
        font-size: 34px;
    }
    #top .searchInput{
        font-size: 20px;
        width: 250px;
    }
    /* #leftMenuSide{
        width: 40%;
    }
    #rightMenuSide{
        width: 60%;
    } */
    .searchExpanded1 .searchButton{
        margin-right: 270px;
    }
    .searchExpanded1 input{
        left: calc(100% - 275px);
    }
    .text-3{
        font-size: 20px !important;
    }
    .text-2{
        font-size: 16px !important;
    }
    #item6 .text-4,
    #header-section2{
        font-size: 35px !important;
    }
    #footer-links-top{
        flex-direction: row;
        /* margin: 0, 30px; */
    }
}

@media (min-width: 720px) 
{
	section{
		background: aqua;
    }
    .margin-right-for-search{
        margin-right: 35px;
    }
    #logo-text{
        margin-left: 20px;
    }
    .text-4{
        font-size: 48px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{ 
    section{
        background: green;
    }
    #cont{
        width: 95%;
        grid-template-rows: repeat(5, 1fr);
		grid-template-columns: repeat(8, 1fr);
    }
    #header-section2{
        font-size: 28px !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #item1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #item2{
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #item3{
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #item4{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #item5{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #item6{
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    #item7{
        /* grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 7; */
        display: flex;
    }
    #item8{
        /* grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 7; */
        display: flex;
    }
    #section2{
        min-height: 1100px;
    }
    #leftMenuSide{
        top: 0;
        left: calc(-40%);
        width: 40%;
        height: 100%;
    }
    #rightMenuSide{
        right: calc(-61%);
        width: 60%;
        height: 100%;
    }
    #section3{
        height: 575px;
    }
    #top .searchInput{
        font-size: 20px;
    }
    .text-3{
        font-size: 24px !important;
    }
    .text-2{
        font-size: 18px !important;
    }
    #footer-links-bottom a{
        font-size: 12px;
        padding: 5px;
    }
    #footer-links-top{
        flex-direction: column;
        /* margin: 0, 30px; */
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{
    section{
        background: blue;
    }
    #cont{
		width: 87.5%;
    }
    #header-section2{
        font-size: 32px !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .margin-right-for-search{
        margin-right: 40px;
    }
    #logo-text{
        margin-left: 40px;
    }
    .section3{
        height: 400px;
    }
    .item7 .button:last-of-type{
        display: block;
    }
    .p-about-kpi{
        width: calc(33%);
    }
    #top .searchInput{
        font-size: 20px;
    }
    .searchExpanded1 .searchButton{
        margin-right: 325px;
    }
    .searchExpanded1 input{
        left: calc(100% - 350px);
    }
    .searchExpanded2 .searchButton{
        margin-right: 300px;
    }
    .searchExpanded2 input{
        left: calc(100% - 330px);
    }
    .searchButton{
        font-size: 25px;
    }
    #menuButtonInner{
        font-size: 25px;
    }
    #section3{
        height: 425px;
    }
    #footer-links-bottom a{
        font-size: 15px;
    }
    #footer-links-bottom{
        display: flex;
    }
    #footer-links-top{
        display: none;
        /* flex-direction: column; */
        /* margin: 0, 30px; */
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ 
    section{
        background: purple;
    }
    #cont{
		width: 80%;
    }
    #top .searchInput{
        font-size: 25px;
    }
    .margin-right-for-search{
        margin-right: 70px;
    }
    #logo-text{
        margin-left: 70px;
    }
    .searchExpanded1 .searchButton{
        margin-right: 350px;
    }
    .searchExpanded1 input{
        left: calc(100% - 400px);
    }
    .searchExpanded2 .searchButton{
        margin-right: 300px;
    }
    .searchExpanded2 input{
        left: calc(100% - 350px);
    }
    #footer-links-bottom a{
        font-size: 16px;
    }
}